.header{
    -fx-background-color: #02144b;
}

.main{
    -fx-background-color: #182E59;
}

.main .label{
    -fx-text-fill: #F0F2DC;
    -fx-font-family: "Segoe Print";
    -fx-font-size: 15;
    -fx-alignment: center-left;
 }

.left{
    -fx-background-color: #132360;
}

.button{
    -fx-background-color: #010e34;
    -fx-background-radius:20;
    -fx-font-size:15;
    -fx-text-fill: #F0F2DC;
    -fx-font-family: "Segoe Print";
}

.chart-legend {
    -fx-background-color:#010e34;
    -fx-text-fill: #F0F2DC;
}

.chart-pie-label-line {
    -fx-stroke: #F0F2DC;
    -fx-fill: #F0F2DC;
}

.chart-pie-label {
    -fx-fill: #F0F2DC;
    -fx-font-size: 2em;
}

.text-field{
    -fx-background-radius: 10;
}

.label{
    -fx-text-fill: #F0F2DC;
    -fx-font-family: "Segoe Print";
    -fx-font-size: 28;
    -fx-alignment: center;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: rgba(2, 13, 35, 0.82);
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #F0F2DC;
}

.table-view .column-header .label{
    -fx-font-size: 15;
}

.table-view .table-cell{
    -fx-border-color: #F0F2DC;
    -fx-text-fill: #F0F2DC;
    -fx-font-size: 15;
    -fx-font-family: "Segoe Print";
}

 .table-row-cell:selected {
    -fx-background-color: #1259a9;
}

.table-row-cell{
    -fx-background-color: #222c42;
}
