.header{
    -fx-background-color: #D98997;
}

.main{
    -fx-background-color: #F2C2CB;
}

.main .label{
    -fx-text-fill: #BF5E70;
    -fx-font-family: "Segoe Print";
    -fx-font-size: 15;
    -fx-alignment: center-left;
}

.chart-pie-label-line {
    -fx-stroke: #e7aaaa;
    -fx-fill: #e7aaaa;
}

.chart-pie-label {
    -fx-font-size: 2em;
}

.left{
    -fx-background-color: #e7aaaa;
}

.button{
    -fx-background-color: #BF5E70;
    -fx-background-radius:20;
    -fx-font-size:15;
    -fx-text-fill: #F2F2F2;
    -fx-font-family: "Segoe Print";

}
.label{
    -fx-text-fill: #F2F2F2;
    -fx-font-family: "Segoe Print";
    -fx-font-size: 28;
    -fx-alignment: center;
}

.text-field{
    -fx-background-radius: 10;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #fdc9e3;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: black;
}

.table-view .column-header .label{
    -fx-font-size: 15;
}

.table-view .table-cell{
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-family: Georgia;
}

.table-row-cell:selected {
    -fx-background-color: rgba(213, 112, 158, 0.84);
}

.table-row-cell{
    -fx-background-color: "#fafafa";
}

